apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-nginx-config
data:
  default.conf: |
    server {
        listen 80;

        location / {
            proxy_pass http://{{ .Values.frontend.serviceName }}:{{ .Values.frontend.servicePort }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }

        location /api/ {
            proxy_pass http://{{ .Values.backend.serviceName }}:{{ .Values.backend.servicePort }}/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
