apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  annotations:
    image.openshift.io/triggers: >-
      [{
        "from": {
          "kind": "ImageStreamTag",
          "name": "{{ .Values.appName }}:latest",
          "namespace": "{{ .Values.namespace }}"
        },
        "fieldPath": "spec.template.spec.containers[?(@.name==\"{{ .Values.appName }}\")].image"
      }]
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.appName }}
  template:
    metadata:
      labels:
        app: {{ .Values.appName }}
    spec:
      containers:
        - name: {{ .Values.appName }}
          image: {{ .Values.appName }}:latest
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.containerPort }}
